:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, 'sans-serif';

  --borderRadius: 4px;
  --transition-duration: 150ms;
  --transition-timing-function: ease-in-out;
}

body {
  margin: unset;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h3 {
  font-size: 16px;
}

.button:not(:first-of-type) {
  margin-left: 5px;
}

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--borderRadius);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: background-color, box-shadow, border-color;
}

.button.primary {
  color: #ffffff;
  background-color: #2e2ee5;
  border-color: #2e2ee5;
}

.button.primary:hover {
  background-color: #2a2ad1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.button.primary:active {
  background-color: #2a2ad1;
  border-color: #2e2ee5;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  color: #535f6e;
  background-color: #ffffff;
  border-color: #e8e8e8;
}

.button.secondary:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.button.secondary:active {
  background-color: #ffffff;
  border-color: #535f6e;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.15);
}

label {
  font-size: 14px;
}
