/*******************
 * Variables
 *******************/

/** Variables to insert */
* {
  --primary-color: #3333ff;
  --text-color: #010101;
}

/*******************
 * KeyFrames
 *******************/

/** Animation for fading in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*******************
 * Modal
 *******************/

.modal-container {
  position: fixed;
  bottom: 10px;
  left: 5px;
  right: 5px;
  margin: 0 auto;
  width: calc(100% - 10px);
  box-sizing: border-box;
  border-radius: 18px;
  border: 0.5px solid #d8d8d8;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  padding: 21px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, 'sans-serif';
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(5);
  animation: fadeIn 150ms;
  transition: width 150ms, height 150ms;
}

/** Inner div contents for modal contents */
.modal-container-inner {
  min-height: 79px;
  height: calc(100% - 38px);
  width: 100%;
  padding-bottom: 38px;
}

/*******************
 * CompletionOptions
 *******************/

/** Form wrapper for  */
.complete-options-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/** Container for rendering toggles */
.toggles-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

/** Container around completion options */
.complete-options-container {
  height: inherit;
  animation: fadeIn 200ms ease-in;
}

/** Style around the label text for each checkbox toggle */
.toggle-label {
  position: relative;
  margin: 0 10px 15px 10px;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  vertical-align: baseline;
  color: var(--text-color);
  white-space: nowrap;
  text-shadow: none;
  padding-left: 25px;
  white-space: nowrap;
}

/*******************
 * AcceptOrRejectAll
 *******************/

/** Button row styles for AcceptOrRejectAll view state */
.accept-or-reject-all-button-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*******************
 * LanguageOptions
 *******************/

/** Styles applied around the language container */
.language-options-container {
  width: 100%;
  height: 100%;
  animation: fadeIn 200ms ease-in;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}

/** Styles applied around each language selection */
.language-item-container {
  padding: 12px;
}

/** Styles applied to the language button */
.language-button {
  background: unset;
  border: unset;
  width: unset;
  padding: unset;
  margin: unset;
  width: 17px;
  height: 17px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

/** CSS to apply when language svg select button is hovered on */
.language-button-inactive svg {
  fill: var(--text-color);
  transition: fill 150ms;
}

/** Styles to apply when actively labeled */
.language-button-active svg {
  fill: var(--primary-color);
  transition: fill 150ms;
}

/** CSS to apply when language svg select button is hovered on */
.language-button svg:hover {
  fill: var(--primary-color);
}

/** CSS to apply when language svg select button is active */
.language-button svg:active {
  fill: var(--primary-color);
}

/*******************
 * BottomMenu
 *******************/

/** Outer styles wrapped around entire bottom menu */
.footer-container {
  position: absolute;
  bottom: 21px;
  width: calc(100% - 21px * 2);
  height: 17px;
}

/** Styles applied to bottom menu */
.bottom-menu-container {
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

/** Styles applied to each item of bottom menu */
.bottom-menu-item-container {
  width: auto;
}

/** Menu item styles for the BottomMenu */
.bottom-menu-item {
  background: unset;
  border: unset;
  width: unset;
  padding: unset;
  margin: unset;

  margin: 0 auto;
  display: block;
  min-width: fit-content;
  width: auto;
  text-align: center;
  line-height: 1.5em;
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  color: var(--text-color);
  transition: text-decoration 150ms;
  text-decoration: underline;
  text-decoration-color: rgba(1, 1, 1, 0);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/** Hover state for items in the bottom menu */
.bottom-menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgba(1, 1, 1, 1);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/*******************
 * Collapsed
 *******************/

/** CSS for the collapsed square logo  */
.collapsed-square-logo-svg {
  width: 20px;
  height: 20px;
  padding: 6px;
  flex-shrink: 0;
}

/** CSS for the collapsed square logo path*/
.collapsed-square-logo-svg path {
  fill: var(--text-color);
  transition: fill 150ms;
}

/** The wrapper around the entire collapsed hovering consent icon */
.collapsed-container {
  position: fixed;
  bottom: 100px;
  right: 5px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, 'sans-serif';
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px) saturate(5);
  transition: width 150ms ease-in 500ms, background-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
}

/** Styles applied to consent icon when actively selected */
.collapsed-container:active {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0.5px 5px 1.5px rgba(0, 0, 0, 0.12);
}

/** Styles applied to consent icon on hover */
.collapsed-container:hover {
  width: 132px;
  transition-delay: 0ms;
}

/** Styles applied to consent icon SVG contents */
.collapsed-container:hover path {
  fill: var(--primary-color);
}

/** Styles applied to consent icon paragraph text */
.collapsed-container p {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--text-color);
  opacity: 0;
  transition: opacity 150ms ease-in 500ms;
}

/** Styles applied to consent icon paragraph text on hover */
.collapsed-container:hover p {
  opacity: 1;
  transition-delay: 0ms;
}

/*******************
 * GPC Indicator
 *******************/

/** GPC outer styles */
.gpc-setting {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/** GPC svg styles */
.gpc-setting svg {
  flex-shrink: 0;
}

/** GPC paragraph text */
.gpc-setting p {
  margin: 0 0 0 6px;
  font-size: 12px;
  color: var(--text-color);
}

/*******************
 * Text Styles
 *******************/

/** Title text */
.text-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 18px 0;
  text-align: center;
}

/** Paragraph text */
.paragraph {
  color: var(--text-color);
  font-size: 14px;
  margin: 0 0 18px 0;
}

/** ColumnContent */
.column-content {
  min-height: 79px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: fadeIn 150ms;
}

/*******************
 * Button Styles
 *******************/

/** Consent buttons */
.button {
  min-height: 42px;
  border-radius: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.9;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  cursor: pointer;
  filter: brightness(100%);
  flex-shrink: 0;
  font-family: inherit;
  text-align: center;
  padding: 6px;
  transition: filter 150ms, background-color 150ms;
}

/** Non-last button */
.button:not(:last-of-type) {
  margin-bottom: 8px;
}

/** On button hover */
.button:hover {
  background-color: var(--primary-color);
}

/** Apply to inner spans (text) when button hovers */
.button:hover span {
  color: #ffffff;
}

/* base text styles for buttons */
.button-base-text {
  color: var(--primary-color);
  display: block;
  font-style: normal;
  text-align: center;
  transition: color 150ms;
}

/* combine with button-base-text */
.button-primary-text {
  font-size: 12px;
  font-weight: 700;
}

/* combine with button-base-text */
.button-secondary-text {
  font-size: 9px;
  font-weight: 400;
}

/*******************
 * Media Styles
 *******************/

/** At least table */
@media (min-width: 640px) {
  /** Button Styles */
  .button {
    width: 135px;
  }
  .button:not(:last-of-type) {
    margin-bottom: 0;
  }

  /** Text Styles */
  .text-title-left {
    margin: 0 18px 0 0;
    text-align: left;
  }
  .text-title-center {
    margin: 0 0 18px 0;
    text-align: center;
  }
  .paragraph {
    margin: 18px 18px 0 0;
  }
  .column-content {
    flex-direction: row;
  }

  /** AcceptOrRejectAll */
  .accept-or-reject-all-button-row {
    flex-direction: row;
  }
  .accept-or-reject-all-button-row button:not(:first-of-type) {
    margin-left: 10px;
  }

  /** Bottom Menu */
  .bottom-menu-container {
    width: calc(100% - 150px);
    justify-content: space-evenly;
  }
  .bottom-menu-item {
    font-size: 12px;
  }

  /** CompleteOptions */
  .toggles-container {
    flex-direction: row;
  }

  /** Modal */
  .modal-container {
    bottom: 5px;
    max-width: 630px;
    min-height: 160px;
    bottom: 22px;
  }
}
