name: ci
on: push

jobs:
  build-and-upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v2
        with:
          node-version: '14.17.3'
      - run: npm install -g "yarn@1.22.5"
        shell: bash
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: |
            .yarn/unplugged
          key: ${{ runner.os }}-yarn-v2-${{ hashFiles('**/yarn.lock', '**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v2-
      - run: yarn rebuild
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        name: Install yarn deps
        shell: bash

      - name: 'Run tsc'
        run: yarn tsc:build
      - name: Build the typescript code
        run: yarn build
      - uses: actions/upload-artifact@main
        with:
          name: build artifacts
          path: build/

  run-mocha:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x, 14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn test

  run-depcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn pnpify depcheck

  run-pre-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100 # need the history to do a changed files check below (source, origin)
      - uses: actions/setup-python@v2

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v2
        with:
          node-version: '14.17.3'
      - run: npm install -g "yarn@1.22.5"
        shell: bash
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: |
            .yarn/unplugged
          key: ${{ runner.os }}-yarn-v2-${{ hashFiles('**/yarn.lock', '**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v2-
      - run: yarn rebuild
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        name: Install yarn deps
        shell: bash

      - uses: pre-commit/action@v2.0.2
        with:
          extra_args: --source ${{ github.event.pull_request.base.sha || 'HEAD~1' }} --origin ${{ github.event.pull_request.head.sha || 'HEAD' }}

  build-to-npm:
    # if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-mocha
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Configure NPM authentication
        run: |
          yarn config set npmAlwaysAuth true
          yarn config set npmAuthToken ${{ secrets.NPM_TOKEN }}

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v2
        with:
          node-version: '14.17.3'
      - run: npm install -g "yarn@1.22.5"
        shell: bash
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: |
            .yarn/unplugged
          key: ${{ runner.os }}-yarn-v2-${{ hashFiles('**/yarn.lock', '**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v2-
      - run: yarn rebuild
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        name: Install yarn deps
        shell: bash

      - name: Publish to yarn/npm
        run: yarn npm publish

  build-to-github-packages:
    # if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-mocha
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v2
        with:
          node-version: '14.17.3'
      - run: npm install -g "yarn@1.22.5"
        shell: bash
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: |
            .yarn/unplugged
          key: ${{ runner.os }}-yarn-v2-${{ hashFiles('**/yarn.lock', '**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v2-
      - run: yarn rebuild
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        name: Install yarn deps
        shell: bash

      - name: Configure Github Packages authentication
        run: |
          yarn config set npmAlwaysAuth true
          yarn config set npmRegistryServer https://npm.pkg.github.com
          yarn config set npmPublishRegistry https://npm.pkg.github.com
          yarn config set npmAuthToken ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to Github packages
        run: yarn npm publish
