name: ci
on: push

jobs:
  build-and-upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: '22.19.0'
      - run: corepack enable
        shell: bash
      - uses: nick-fields/retry@v2
        with:
          timeout_minutes: 6
          max_attempts: 3
          retry_on: error
          command: yarn install --immutable

      - name: 'Run tsc'
        run: yarn tsc:build
      - name: Build the typescript code
        run: yarn build
      - uses: actions/upload-artifact@main
        with:
          name: build artifacts
          path: build/

  run-depcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: '22.19.0'
      - run: corepack enable
        shell: bash
      - uses: nick-fields/retry@v2
        with:
          timeout_minutes: 6
          max_attempts: 3
          retry_on: error
          command: yarn install --immutable
      - run: yarn pnpify depcheck

  run-pre-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 100 # need the history to do a changed files check below (source, origin)
          ref: '${{ github.sha }}'
      - uses: actions/setup-python@v2

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: '22.19.0'
      - run: corepack enable
        shell: bash
      - uses: nick-fields/retry@v2
        with:
          timeout_minutes: 6
          max_attempts: 3
          retry_on: error
          command: yarn install --immutable

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --source ${{ github.event.pull_request.base.sha || 'HEAD~1' }} --origin ${{ github.event.pull_request.head.sha || 'HEAD' }}

  build-to-npm:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    needs:
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v6
        with:
          node-version: '22.19.0'
          registry-url: 'https://registry.npmjs.org'

      # See: https://docs.npmjs.com/trusted-publishers
      # See: https://github.com/actions/setup-node/issues/1445
      - name: Set npm to version that supports trusted publishers
        run: npm install -g npm@11.5.1
        shell: bash

      - run: corepack enable
        shell: bash
      - uses: nick-fields/retry@v2
        with:
          timeout_minutes: 6
          max_attempts: 3
          retry_on: error
          command: yarn install --immutable

      - name: Publish to yarn/npm
        run: yarn npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ''

  build-to-github-packages:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '22.x'

      # 'Install yarn v2 dependencies'
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: '22.19.0'
      - run: corepack enable
        shell: bash
      - uses: nick-fields/retry@v2
        with:
          timeout_minutes: 6
          max_attempts: 3
          retry_on: error
          command: yarn install --immutable

      - name: Configure Github Packages authentication
        run: |
          yarn config set npmAlwaysAuth true
          yarn config set npmRegistryServer https://npm.pkg.github.com
          yarn config set npmPublishRegistry https://npm.pkg.github.com
          yarn config set npmAuthToken ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to Github packages
        run: yarn npm publish
