name: pr
on: pull_request

jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: '16.20.2'
      - run: npm install -g "yarn@3.4.1"
        shell: bash
      - uses: nick-fields/retry@v2
        with:
          timeout_minutes: 4
          max_attempts: 3
          retry_on: error
          command: yarn install --immutable
      - run: yarn jest -u
